.content {
    margin: 13vh 0;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    }

.card {
    width: 25vw;
    background: #00000036;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
    min-height: 40vh;
    min-width: 300px;
}

@media (max-width: 768px) {
    .card { 
        box-shadow: none;
    }

    .card p {
        padding-bottom: 20vh;
    }
}


.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 80%;
    object-fit: cover; 
}


.card h3 {
    margin: 10px 0;
    font-size: max(17px, calc(10px + 10 * (100vw / 1280)));
    color: white;
}

.card p {
    font-size: max(12px, calc(6px + 7 * (100vw / 1280)));
    color: rgb(226, 226, 226);
}

.chapter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.274);
    border: 1px solid black;
    padding: 1vh 0;
    align-items: center;
    gap: 0.4vw;
    font-size: max(17px, calc(10px + 10 * (100vw / 1280)));;
}

.chapter img {
    width: max(18px, calc(13px + 10 * (100vw / 1280)));
    margin-top: 0.6vh;
}

.soviet {
    text-decoration: none;
    color: white;
}

/* .blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.527);
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(20px + 10 * (100vw / 1280));
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 10; 
}

header, .footer {
    position: relative;
    z-index: 11; 
} */
