body {
    background-color: rgb(46, 46, 46);
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    height: 100vh;
    text-align: center;
}

.error {
    color: rgb(255, 255, 255);
    font-size: 50px;
}

p {
    font-size: 25px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(194, 194, 194);
}